body{
	background:#fff;
}
ul{
	list-style-type:none;
	padding:0;
}
ul>li{
	padding:12px;
	border-bottom:solid 1px #ccc;
	background:rgba(0,0,0,0);
	transition:background 0.2s;
}
ul>li:first-child{
	border-top:solid 1px #ccc;
}
a{
	text-decoration:none;
	color:#000;
}
@media(min-width:800px){
	ul>li:hover{
		background:rgba(0,0,0,0.2);
		/*border:solid 1px #00a0e9;*/
	}
}
ul>li:active{
	background:rgba(0,0,0,0.2);
	/*border:solid 1px #00a0e9;*/
}